<table>
{{#each rows}}
  <tr><td>author </td> <td> {{ author }}</td></tr>
  <tr><td>title </td> <td>{{ title }}</td></tr>
  <tr><td>Published </td> <td> {{ published }}</td></tr>
  <tr><td>Pages </td> <td> {{ pages }}</td></tr>
  <tr><td>Language </td> <td> {{ language }}</td></tr>
{{/each}}
</table>
